@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    background-color: hsl(0, 100%, 74%);
    background-image: url("./images/bg-intro-desktop.png");
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10%;
}
#text {
    color: white;
    padding-right: 90px;
}
#text h1 {
    font-weight: 700;
    font-size: 3em;
    line-height: 1;
}
.sign-up-comp {
    display: flex;
    flex-direction: column;
}
#trial{
    background-color: hsl(248, 32%, 49%);
    color: white;
    width: 100%;
    padding: 1px;
    margin-bottom: 25px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 10px 1px 0px hsl(0deg 0% 0% / 20%);
}
#form {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 550px;
    box-shadow: 0 10px 1px 0px hsl(0deg 0% 0% / 20%);
    border-radius: 10px;
}
#form form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
#form input {
    padding: 17px;
    margin: 8px;
    border-radius: 5px;
    border: 2px solid hsl(246, 25%, 77%);
    color: hsl(248, 32%, 49%);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
}
button {
    background-color:hsl(154, 59%, 51%);
    border: none;
    border-radius: 5px;
    width: 80%;
    align-self: center;
    padding: 20px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 500;
    box-shadow: 0 3px 1px 0px hsl(0deg 0% 0% / 20%);
}
button:hover {
cursor: pointer;
background-color: hsl(154, 75%, 74%);
}
::-webkit-input-placeholder {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: hsl(246, 25%, 77%);
}
input:focus {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: hsl(248, 32%, 49%);
    outline: none;
    border: 2px solid hsl(248, 32%, 49%) !important;
}
.error {
    text-align: right;
    font-size: .8em;
    font-weight: 500;
    color: hsl(0, 100%, 74%);
    font-style: italic;
}
.small {
    color: hsl(246, 25%, 77%);
    align-self: center;
    font-size: .8em;
}
.terms {
    font-weight: 700;
    color: hsl(0, 100%, 74%);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
.error-icon {
    background: url(images/icon-error.svg) no-repeat right 10px center;
}
@media screen and (max-width: 375px) {
   body {
       background-image: url("./images/bg-intro-mobile.png");
       background-position: center;
   }
   .container {
       flex-direction: column;
   }
   .sign-up-comp, #text {
       text-align: center;
   }
   #trial, #form {
       width: 85vw;
   }
}